<div fxLayout="column wrap" class="full-width full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" style="height:35%;width:40%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        <canvas baseChart type="doughnut"></canvas>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxFlex="100">
        <canvas baseChart type="line"></canvas>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" style="padding: 10px; height:20%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start space-around" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div class="color-light-gray">
            Recent Transaction</div><button mat-button (click)="openForm()">+ Add New Transaction</button>
        </div>
        <div fxLayout="column" style="width:150%;">
          <table mat-table [dataSource]="page?.tableData" id="table-table" matSort class="table-width-fix">
            <tr mat-header-row *matHeaderRowDef="[&apos;Person | titlecase&apos;,&apos;shopName | titlecase&apos;,&apos;dateUploaded&apos;,&apos;32275084-3fdf-1c5f-b6eb-0f05044d99cc&apos;]"></tr>
            <tr mat-row *matRowDef="let row; columns: [&apos;Person | titlecase&apos;,&apos;shopName | titlecase&apos;,&apos;dateUploaded&apos;,&apos;32275084-3fdf-1c5f-b6eb-0f05044d99cc&apos;];"></tr>

            <ng-container matColumnDef="Person | titlecase">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.Person | titlecase }}</td>
            </ng-container>

            <ng-container matColumnDef="shopName | titlecase">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Shop Name</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.shopName | titlecase}}</td>
            </ng-container>

            <ng-container matColumnDef="dateUploaded">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Uploaded</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.dateUploaded}}</td>
            </ng-container>

            <ng-container matColumnDef="32275084-3fdf-1c5f-b6eb-0f05044d99cc">
              <th mat-header-cell *matHeaderCellDef>View Receipt</th>
              <td mat-cell *matCellDef="let table; let i = index;"><mat-icon>visibility</mat-icon></td>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  </div>
</div>