<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
    <p class="text-center guide-info">
      Welcome to the operations portal. <br>Follow the guide to learn about how the system operates. <br> <span class="color-blue"> <b>OK! </b></span></p>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <p class="text-center guide-info">
      Please select the upload reciept button to upload <br> your receipt from your computer <br> <span class="color-blue"> <b>OK! </b></span></p>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <p class="guide-lebo absolute-lebo text-center guide-info">
      The table of receipts will be displayed below. Please select a row to view more information about a single receipt <br> <span class="color-blue"> <b>OK! </b></span></p>
  </div>
</div>