<div fxLayout="column wrap" class="padding2em-tii full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="padding2em-tii" fxLayoutGap="3em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row " fxLayoutGap="6em" fxLayoutAlign="start stretch" [fxShow]="true"><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Yearly Budget, Expenses and Savings Comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.dataSet" [labels]="page.barChartLabels" type="line"></canvas>
          </div>
        </mat-card-content>
      </mat-card><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Previous and current month comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.barChartDataTwo" [labels]="page.barChartDataTwoLabels" type="bar"></canvas>
          </div>
        </mat-card-content>
      </mat-card></div>
    <div fxLayout="row " fxLayoutGap="6em" fxLayoutAlign="start stretch" [fxShow]="true"><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Previous and current month comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.fourthChartData" [labels]="page.fourthChartLabels" [legend]="true" type="bar"></canvas>
          </div>
        </mat-card-content>
      </mat-card><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Previous and current month comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.fifthChartData" [labels]="page.fourthChartLabels" type="bar"></canvas>
          </div>
        </mat-card-content>
      </mat-card></div>
  </div>
</div>