<div fxLayout="column wrap" class="padding2em-tii full-height" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="padding2em-tii" fxLayoutGap="3em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row " fxLayoutGap="6em" fxLayoutAlign="start stretch" [fxShow]="true"><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Yearly Budget, Expenses and Savings Comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.dataSet" [labels]="page.barChartLabels" type="line"></canvas>
          </div>
        </mat-card-content>

        <mat-card-content>
          <p>
            The month with the highest expenses is {{page.highestExpenses1Month}} with an amount of R {{page.highestExpenses1Amt}} <br>
            The month with the highest savings {{page.highestSavings1Month}} with an amount of R {{page.highestSavings1Amt}}
          </p>
        </mat-card-content>
      </mat-card><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Previous and current month comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.barChartDataTwo" [labels]="page.barChartDataTwoLabels" type="bar"></canvas>
          </div>
        </mat-card-content>

        <mat-card-content>
          <p>
            {{page.chartTwoInsight}}


          </p>
        </mat-card-content>
      </mat-card></div>
    <div fxLayout="row " fxLayoutGap="6em" fxLayoutAlign="start stretch" [fxShow]="true"><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Previous and current month comparison</mat-card-title>

        <mat-card-content class="canvas2-tii">
          <div>
            <canvas baseChart style="margin-left: 40px" [datasets]="page.fourthChartData" [labels]="page.fourthChartLabels" [legend]="true" type="pie"></canvas>
          </div>
        </mat-card-content>

        <mat-card-content>
          <p>
            The category with the most expendicure in {{page.previousMonth}} was {{page.prevMonthMostCategory}} whereby R {{page.prevMonthMaxCatAmt}} was spent. <br>
            The category with the most expendicure so far in {{page.currentMonth}} is {{page.currenttMonthMaxCatetory}} whereby R {{page.currMonthMaxCatAmt}} has been spent so far.</p>
        </mat-card-content>
      </mat-card><mat-card class="card-size-tii">
        <mat-card-title class="fz-15px-tii">Previous and current month comparison</mat-card-title>

        <mat-card-content>
          <div fxFlex="100">
            <canvas baseChart [datasets]="page.fifthChartData" [labels]="page.barChartDataTwoLabels" type="bar"></canvas>
          </div>
        </mat-card-content>

        <mat-card-content>
          <p>
            {{page.finalChartResult}}
          </p>
        </mat-card-content>
      </mat-card></div>
  </div>
</div>