/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

///colours
$dark-blue : #395886; ///side nav
$blue : #638ecb; 
$mid-blue : #8aaee0;
$light-blue : #b1c9ef; //on-hover
$gray-blue : #d5deef; //background
$white-blue : #f0f3fa;//side nav text color
$dark-gray : #9a9b9e;//body text color
body {
    font-family: "Roboto", sans-serif;
    background-color: $gray-blue;
    color: $dark-gray;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: $gray-blue;
    color: $dark-gray;
}




///category color
$orange-maintenance : #f1680c;
$green-groceries : green;
$yellow-supplies : yellow;
$pending-category: gray;


body {
    font-family: "Roboto", sans-serif;
    background-color: $gray-blue;
    color: $dark-gray;
}

.dark-grey-bg {
    background-color: $dark-gray !important;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $gray-blue;
    color: $dark-gray;
}

.dark-blue-bg {
    background-color: $dark-blue !important;
}

.light-blue-bg {
    background-color: $light-blue;
}

.mid-blue-bg {
    background-color: $mid-blue;
}

.gray-blue-bg {
    background-color: $gray-blue;
}

.blue-bg {
    background-color: $blue;
}
.white-blue-bg {
    background-color: $white-blue;
}

.color-blue {
    color: $blue;
}

.color-light-blue {
    color: $light-blue;
}

.color-white-blue{
    color: $white-blue;
}

.color-mid-blue {
    color: $mid-blue;
}

.color-dark-blue {
    color: $dark-blue;
}

.color-gray-blue {
    color: $gray-blue;
}

.color-dark-gray {
    color: $dark-gray;
}

.color-light-gray {
    color: rgb(212, 212, 212);
}

.white-bg-lebo {
    background-color: #ffffff;
}

//Sizes
.full-height {
    height: 100%;
}

.half-height {
    height: 50% !important;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50% !important;
}

.font-300-lebo {
    font-weight: 300;
}

.font-weight-900-lebo {
    font-weight: 900;
}
// .bh-landing {
//     height: 100%;
//     width: 100%;
// }


//Margins
.no-margin-lebo {
    margin: 0;
}

.margin-top-10px-lebo {
    margin-top: 5px;
}

.margin-right-160px-lebo {
    margin-right: 200px;
}

.margin-bottom-10-lebo {
    margin-bottom: 5px;
}

.margin-top-10-lebo {
    margin-top:5px

}

.dot-groceries-lebo {
    height: 25px;
    width: 25px;
    background-color: $green-groceries;
    border-radius: 50%;
    display: inline-block;
}

.dot-maintenance-lebo {
    height: 25px;
    width: 25px;
    background-color: $orange-maintenance;
    border-radius: 50%;
    display: inline-block;
}

.dot-supplies-lebo {
    height: 25px;
    width: 25px;
    background-color: $yellow-supplies;
    border-radius: 50%;
    display: inline-block;
}

.main-container-lebo {
    width: 150%!important;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

//Paddings
.padding-left-12px-lebo {
    padding-left: 12px;
}

.padding-right-12px-lebo {
    padding-right: 12px;
}

.padding-10-lebo {
    padding: 10px;
}


//Radius 
.border-radius-20px-lebo {
    border-radius: 20px !important;
}


.guide-info{
    right: 40%;
    top: 40%;
    height: 35%;
    width: 21%;
    background-color: white;
    border-radius: 34px;
    padding: 10px;
    border: 3px solid $dark-blue;
}

.text-center {
    text-align: center;
}


.absolute-lebo {
    position: absolute;
}

.guide-lebo {
    right: 10px;
    bottom: 3em;
    height: 15%;
    width: 20%;
    background-color: white;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border: 3px solid $dark-blue;
}

.font-date-lebo {
    margin-top:0;    
    font-size: small;
}
tr.mat-header-row{
  
    background-color: $mid-blue!important;
}

.mat-table thead, .mat-table tbody, .mat-table tfoot, mat-row, mat-footer-row, [mat-row], [mat-footer-row], .mat-table-sticky {
    background:$gray-blue ;
}

.mat-paginator-container {
    min-height: 56px;
    background-color: $mid-blue;
}


bh-operations_dashboard{
    height: 100vh;
}

.max-width-300px-tii{
    max-width: 300px;
}

.max-width-300px2-tii{
    max-width: 300px;
}

.max-width-300px-tii:hover{
    background-color: $light-blue;
    border-radius: 5px;
}

.width-50px-tii{
    width: 50px;
}

.width-150px-tii{
    width: 150px;
}

.overflow-hidden-tii{
    overflow: hidden;
}

.close-nav-icon-tii{
    position: absolute;
    right: -5px;
    top: 65px;
    background-color: $light-blue;
    border-radius: 5px;
}

.position-relative-tii{
    position: relative;
}

.margin-1em-tii{
    margin-top: 1em; 
    margin-left: 1em;  
    margin-right: 1em
}

.height-10-tii{
    height: 10%
}

.margin-bottom-2em-tii{
    margin-bottom: 2em;
}

.activeNow-tii{
    background-color: $light-blue;
    border-radius: 5px;
}

.flex1-tii{
    flex: 1;
}

.cursor-tii{
    cursor: pointer;
}

.flexflow{
    flex-flow: nowrap !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    white-space: unset !important;
}

.router-outlet-content-tii {
  height: calc(100% - 64px);
  overflow-y: auto;
}

bh-view_table_of_receipt{
    height: 100%;
    width: 100%;

}

bh-all_purchased_items_table{
    height: 80%;
    width: 100%;
}

bh-categories{
    // height: 100%;
    width: 100%;
}

bh-landing{
    width: 100% !important;
}

.stat-kim {
    height:30% !important; 
    width:100% !important; 
    top:0 !important
}
.table-kim {
    height: 10px !important; 
    width:100% !important;
     bottom:0 !important;
}
.donut-angel{
          width: 78% !important;
    height: 78% !important;
}

// .width-70-angel{
//     width: 70% !important;
// }
// .text-dotted-angel{
    // p{
    //      width: 110px !important;
    // text-overflow: ellipsis !important;
    // white-space: nowrap !important;
    // overflow: hidden !important;
    // }
    // width: 110px !important;
    // text-overflow: ellipsis !important;
    // white-space: nowrap !important;
    // overflow: hidden !important;





















.toolbar-bg{
    background-color: white;
}

bh-statistics{
    // background-color: yellow;
    height: 100vh;
    width: 100%;
}

.padding2em-tii{
    padding: 2em
}

.card-size-tii{
    width: 400px; 
    height: 350px
}

.fz-15px-tii{
    font-size: 15px
}

.width-40px-tii{
    width: 40px;
}

.height-30px-tii{
     height: 30px;
}

.border-radius-50{
     border-radius: 50%;
}

.margin-left-1em{
     margin-left: 1em
}