<div fxLayout="column wrap" class="full-width full-height" fxLayoutAlign="center center" [fxShow]="true"><mat-horizontal-stepper #stepper class="white-blue-bg form-kim"><mat-step [stepControl]="secondFormGroup">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <form [formGroup]="page.secondFormGroup">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><ng-template matStepLabel>
                Fill out receipt details</ng-template></div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="row wrap" class="label-margin-kim" fxLayoutAlign="start stretch" [fxShow]="true"><label>
                      User Name : </label></div>
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Current users name" [required]="false">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="row wrap" class="label-margin-kim" fxLayoutAlign="start stretch" [fxShow]="true"><label>
                      Store name : </label></div>
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Enter store name" [required]="false">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="row wrap" class="label-margin-kim" fxLayoutAlign="start stretch" [fxShow]="true"><label>
                      Total Amount :</label></div>
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput type="number" placeholder="Enter total amount" [required]="false">

                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: -110px!important;" matStepperNext>Next</button></div>
          </div>
        </form>
      </div>
    </mat-step><mat-step [stepControl]=" page.firstFormGroup ">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <form>
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><ng-template matStepLabel>
                Add Items</ng-template></div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" class="input-left" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput placeholder="Input" [required]="false">

                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" style="height:10px;width:10px; margin: 13px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button>+</button></div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: 0px!important;" matStepperPrevious>Back</button></div>
              <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: -110px!important;" matStepperNext>Next</button></div>
            </div>
          </div>
        </form>
      </div>
    </mat-step></mat-horizontal-stepper></div>