<div fxLayout="column wrap" class="full-width full-height" fxLayoutAlign="center center" [fxShow]="true"><mat-horizontal-stepper #stepper class="white-blue-bg form-kim"><mat-step completed="true" [stepControl]="page.firstFormGroup">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <form [formGroup]="page.firstFormGroup">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><ng-template matStepLabel>
                Attach receipt file</ng-template></div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="File" [required]="true" (change)="fileUpload($event)" formControlName="firstCtrl">

                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: -110px!important;" matStepperNext>Next</button></div>
          </div>
        </form>
      </div>
    </mat-step><mat-step completed="true" [stepControl]="page.secondFormGroup">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <form [formGroup]="page.secondFormGroup">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><ng-template matStepLabel>
                Fill out receipt details</ng-template></div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="row wrap" class="label-margin-kim" fxLayoutAlign="start stretch" [fxShow]="true"><label>
                      User Name : </label></div>
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput name="userName" placeholder="Current users name" [required]="false" formControlName="username">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="row wrap" class="label-margin-kim" fxLayoutAlign="start stretch" [fxShow]="true"><label>
                      Store name : </label></div>
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput placeholder="Enter store name" [required]="false" formControlName="shopName">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
                  <div fxLayout="row wrap" class="label-margin-kim" fxLayoutAlign="start stretch" [fxShow]="true"><label>
                      Total Amount :</label></div>
                  <div fxLayout="row wrap" fxLayoutAlign="start space-between" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput type="number" placeholder="Enter total amount" [required]="false" formControlName="totalAmount">

                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: 0px!important;" matStepperPrevious>Back</button></div>
              <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: -110px!important;" matStepperNext>Next</button></div>
            </div>
          </div>
        </form>
      </div>
    </mat-step><mat-step [stepControl]=" page.thirdFormGroup ">
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
        <form [formGroup]="page.thirdFormGroup">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><ng-template matStepLabel>
                Add Items</ng-template></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" formArrayName="items">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.thirdFormGroup.controls.items.controls; let i = index">
                <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start space-around" [fxShow]="true" [formGroup]="page.item">
                  <div fxLayout="row wrap" class="input-left" fxLayoutAlign="start stretch" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput type="text" placeholder="Item name" [required]="false" formControlName="itemName">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" class="input-left" fxLayoutAlign="start stretch" [fxShow]="true">
                    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput type="number" placeholder="price" [required]="false" formControlName="price">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row wrap" class="input-left" fxLayoutAlign="start stretch" [fxShow]="true"><mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                      <mat-label>Categroy</mat-label>
                      <mat-select formControlName="category" [required]="false">
                        <mat-option [value]="&apos;Option 1&apos;" disabled="false">Supplies</mat-option><mat-option [value]="&apos;Option 2&apos;" disabled="false">Maintenance</mat-option><mat-option [value]="&apos;Option 3&apos;" disabled="false">Groceries</mat-option>
                      </mat-select>

                    </mat-form-field></div>
                  <div fxLayout="row wrap" style="height:20px;width:10px; " fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon (click)="deleteItem(i)">delete</mat-icon></div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-button (click)="addItem()">Add item</button></div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
              <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: 0px!important;" matStepperPrevious>Back</button></div>
              <div fxLayout="row wrap" style="height:15px;width:10px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="right: -110px!important;" (click)="submitButton()">Submit</button></div>
            </div>
          </div>
        </form>
      </div>
    </mat-step></mat-horizontal-stepper></div>